$primary-color:#0f0f0f;
$primary-light:#DECFBC;
$secondary-color:#C3937D;
$GoldAccentColor:#E9A753;
$OceanBlue:#375357;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
.primary-color{
    color: $primary-color;
}
.background-color{
    background-color: $primary-color !important;
}
.primary-light{
    color: $primary-light;
}
.secondary-color{
    color: $secondary-color;
}
.gold-accent{
    color: $GoldAccentColor;
}
.ocean-blue{
    color: $OceanBlue;
}
.mainfont{
    font-family: "Open Sans", sans-serif;;
}
.secondaryfont{
    font-family: "Source Sans 3", sans-serif;
}
body{
    background-color: $primary-color;
}
.navbar{
    height: 70px;
    padding: 15px;
    background-color: $primary-color  !important;
    a{
        color:  $GoldAccentColor  !important;
    }
}


tr{
    td{
        text-align: left;
        width: 50px;
    }
    th{
        text-align: left;
        width: 50px;
    }
}
#Gallery::-webkit-scrollbar {
    display: none;
}
#Gallery{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.GalleryReel{
    width: 100vw; height: 90vh;position: relative;
    h3{
        background: linear-gradient(90deg, #375357 50%, #37535768 81%, rgba(131,58,180,0) 100%);
        font-weight: 200;
        position: absolute; font-size: 72px; bottom: 50px;color: $primary-light; min-width: 450px; max-width: fit-content; padding: 0px 10px;
        z-index: 30;
    }
    img{
        width: 100%; height: 100%; object-fit: cover;
    }
}
.contactForm{
    color: aliceblue;
    width: 80%;
    font-size: 22px;
    padding-bottom: 10px;
    textarea{
        font-size: 20px;
    }
    input{
        font-size: 20px;
        width: 400px;
        max-width: 80%;
    }
    Button {
        font-size: 20px;
        width: 200px;
        border: #31365c 2px none;
        background-color: $OceanBlue;
        color: $primary-light ;

        font-weight: 700;
    }
    Button:hover {
        font-size: 20px;
        width: 200px;
        border: #31365c 2px none;
        background-color: $primary-light;
        color: $OceanBlue ;
    }
}
.bottomGradient {
    background: linear-gradient(to top, #030613 0%, RGB(18, 20, 32, 0.95) 10%,RGB(18,20,32,0.5)50% ,rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 10;
}
.topGradient {
    background: linear-gradient(to bottom, #030613 0%, RGB(18, 20, 32, 0.95) 10%,RGB(18,20,32,0.5)50% ,rgba(0, 0, 0, 0));
    position: absolute;
    top: -2px;
    width: 100%;
    z-index: 10;
}
.logotext{
    text-align: center; 
    padding: 10px; 
    position: relative; 
    top: 400px; color: #ddcdbc; 
}
.sectionlabel{
    font-size: 50px; 
    max-width: 100%; 
    position: absolute; 
    top: 50px; left: 0px;
    z-index: 300; 
    color: #ffffff;
}
.gallerybutton{
    background-color: transparent; border: transparent;font-size: 72px;
}
.hajjsection{
    position: absolute;top: 50px; width: 100%;z-index: 11;
    h1{
        color: #ffffff;
        font-size: 50px; max-width: 100%;
    }
    p{
        width: 100%; max-width: 600px; font-style: oblique;font-weight: 800;
    }
}
@media only screen and (max-width: 600px) {
    .hvar{
        height: 100vh !important;
    }
    .logotext {
        top: 400px;
    }
    .sectionlabel{
        font-size: xx-large;
    }
    .gallerybutton{
        font-size:50px;
    }
    .GalleryReel{
        height: 100vh !important;
        h3{
            font-size: 40px;
            min-width: 200px;
            max-width: 100% !important;
        }
    }
    .hajjsection{
        h1{
            font-size: 40px;
        }
       
    }
    p{
        font-size: 18px;
        max-height: 400px;
        overflow-y: scroll;
    }
    .hjjimg{
        width: 65% !important;
    }
  }